@media (max-width: 1180px) {
  .bg-nav .menu .navegation {
    gap: 40px;
  }

  .bg-nav .menu {
    padding: 20px 60px;
  }

  .video {
    width: 50%;
  }

  .home-page .info {
    width: 50%;
  }

  .home-page .info .btn {
    padding: 22px 68px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
  }

  .about-me .container .btn {
    font-size: 2rem;
  }

  .about-me .container {
    gap: 5rem;
  }

  .about-me .info p {
    margin-bottom: 25px;
  }
}

@media (max-width: 960px) {
  .about-me .container {
    flex-wrap: wrap;
  }

  .about-me .info {
    order: 1;
    margin: 0 auto;
  }

  .about-me {
    background: url(../imagens/fundo-sobre-nos.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  }

  .about-me .container .img-adm {
    margin: 0 auto;
  }

  .about-me .btn {
    padding: 22px 0 22px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  .participants-page .participants {
    gap: 4rem;
  }

  .about-event .local:before {
    width: 80px;
    height: 80px;
  }

  .about-event .date:before {
    width: 80px;
    height: 80px;
  }

  .about-event .horario:before {
    width: 80px;
    height: 80px;
  }

  .about-event {
    font-size: 4rem;
  }

  .sign-up .container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .sign-up .container .btn {
    width: 300px;
    padding: 10px;
    font-size: 2.5rem;
  }

  .footer .logo-footer {
    max-width: 180px;
  }

  .footer .social .instagram:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .phone:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .email:before {
    width: 18px;
    height: 18px;
  }

  .footer .social {
    gap: 15px;
    font-size: 1.4rem;
  }

  .sign-up .container:before {
    background-size: contain;
    max-width: 450px;
    top: -180px;
  }
}

@media (max-width: 768px) {
  .bg-nav .menu .logo {
    width: 140px;
  }

  .bg-nav .menu .navegation {
    display: none;
  }

  .video {
    display: none;
  }

  .home-page .info {
    width: 100%;
    background: url(../imagens/bg-home-mobile.png);
  }

  .invitation h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .invitation p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: 1.5px;
  }

  .home-page .info .btn {
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 22px 68px;
    font-size: 2rem;
  }

  /* .about-me .container {
    flex-wrap: wrap;
  }

  .about-me .info {
    order: 1;
    margin: 0 auto;
  }

  .about-me {
    background: url(../imagens/fundo-sobre-nos.png) center center no-repeat;
    background-size: cover;
    margin-bottom: 100px;
  }

  .about-me .container .img-adm {
    margin: 0 auto;
  }

  .about-me .btn {
    padding: 22px 0 22px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  } */

  .verse h3 {
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
  }

  /* menu-hamburguer */

  .center {
    margin-right: 40px;
    width: 25px;
    z-index: 1;
    position: absolute;
    right: 0;
  }

  .center:before,
  .center:after,
  .center div {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .center.selecionado:before {
    transform: translateY(8.5px) rotate(135deg);
  }
  .center.selecionado:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center.selecionado div {
    transform: scale(0);
  }
}

@media (max-width: 650px) {
  .about-me .container .btn {
    font-size: 1.8rem;
  }
  .info img {
    margin-top: 40px;
  }

  .home-page .info .btn {
    margin-top: 60px;
  }

  .participants-page .participants {
    flex-direction: column;
  }

  .sign-up .container:before {
    background-size: contain;
    max-width: 330px;
    top: -160px;
  }

  .footer {
    flex-direction: column;
  }

  .sign-up .container {
    padding: 40px 60px;
  }

  .sign-up .container h1 {
    font-size: 2rem;
  }

  .sign-up .container .btn {
    font-size: 1.8rem;
    width: 200px;
  }

  .sign-up {
    padding: 0 10px;
}
}
