@media (max-width: 1550px) {
  .verse h3 {
    font-size: 2.3rem;
  }
}

@media (max-width: 1350px) {
.about-me .container .btn {
  font-size: 2.2rem;
}
}

@media (max-width: 1200px) {
  .verse h3 {
    font-size: 2rem;
  }

  .about-me .container .btn {
    font-size: 2rem;
  }
}

@media (max-width: 1070px) {
  .verse h3 {
    font-size: 1.7rem;
  }
  .about-me .container .btn {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .verse h3 {
    font-size: 1.4rem;
  }
}

@media (max-width: 1180px) {
  .bg-nav .menu .navegation {
    gap: 40px;
  }

  .bg-nav .menu {
    padding: 20px 60px;
  }

  .video {
    width: 50%;
  }

  .home-page .info {
    width: 50%;
  }

  .home-page .info .btn {
    padding: 22px 68px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
  }

  /* .about-me .container .btn {
    font-size: 2rem;
  } */

  .about-me .container {
    gap: 5rem;
  }

  .about-me .info p {
    margin-bottom: 35px;
    font-size: 2.1rem
  }
}

@media (max-width: 960px) {
  .about-me .container {
    flex-wrap: wrap;
  }

  .about-me .info {
    text-align: center;
    max-width: 600px;
    order: 1;
    margin: 0 auto;
  }

  .about-me {
    background: url(../imagens/fundo-sobre-nos.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  }

  .about-me .container .img-adm {
    margin: 0 auto;
    padding: 0 30px;
  }

  .about-me .container .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    width: 100%;
  }

  .sign-up .container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .sign-up .container .btn {
    width: 300px;
    padding: 10px;
    font-size: 2.5rem;
  }

  .footer .logo-footer {
    max-width: 150px;
  }

  .footer .social .instagram:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .phone:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .email:before {
    width: 18px;
    height: 18px;
  }

  .footer .social {
    gap: 15px;
    font-size: 1.4rem;
  }

  .footer .nav-footer ul li {
    font-family: "Poppins";
    margin-bottom: 6px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .about-event .info-event .location .unit-1 {
    font-size: 4.5rem;
  }

  .about-event .info-event .location .pais {
    font-size: 4.5rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 4.5rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 4.5rem;
  }

  .about-event .info-event .info .date {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .bg-nav .menu .logo {
    width: 140px;
  }

  .bg-nav .menu .nav .navegation {
    display: none;
  }

  .bg-nav .menu .nav-mobile .navegation-mobile a {
    font-family: "Oswald";
    font-size: 5rem;
    color: #ffd242;
    margin-bottom: 20px
  }

  .bg-nav .menu .nav-mobile{
    display: block;
  }

  .bg-nav .menu .nav-mobile .navegation-mobile.selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 84px);
    background: black;
    margin-top: 39px;
    transition: 1s ease;
  }

  .center {
    width: 25px;
    display: block;
  }

  .center:before,
  .center:after,
  .center div {
    background: #ffd242;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center.selecionado:before {
    transform: translateY(8.5px) rotate(135deg);
  }

  .center.selecionado:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .center.selecionado div {
    transform: scale(0);
  }

  .video {
    display: none;
  }

  .home-page .info {
    width: 100%;
    background: url(../gif/video.gif) center center no-repeat;
    background-size: cover;
  }

  .invitation h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .invitation p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: 1.5px;
  }

  .home-page .info .btn {
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 22px 68px;
    font-size: 2rem;
  }

  .about-event {
    min-height: 130vh;
  }

  .about-event .container .title {
    margin-bottom: 100px;
  }

  .about-event .info-event {
    flex-direction: column;
    align-items: start;
  }

  .about-event .info-event .info .date {
    margin-bottom: 0;
  }

  .about-event .info-event .location {
    margin-bottom: 50px;
  }

  .about-event .container .title {
    width: 100%;
    font-size: 6rem;
    text-align: start;
    margin-bottom: 170px;
    text-transform: uppercase;
  }

  .sign-up .container {
    padding: 50px 100px;
  }

  .sign-up .container h1 {
    font-size: 2.5rem;
  }

  .footer {
    flex-wrap: wrap;
    gap: 20px
  }
}

@media (max-width: 650px) {
  .about-me .container .btn {
    font-size: 2rem;
    margin: 0 auto;
  }

  .about-me h1 {
    font-size: 5rem;
  }

  .about-me .info p {
    font-size: 2rem;
  }

  .info img {
    margin-top: 40px;
  }

  .home-page .info .btn {
    margin-top: 60px;
  }

  .about-event {
    min-height: 130vh;
  }

  .about-event .info-event .location .unit-1 {
    font-size: 4rem;
  }

  .about-event .info-event .location .pais {
    font-size: 4rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 4rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 4rem;
  }

  .about-event .info-event .info .date {
    font-size: 4rem;
  }

  .about-event .info-event .info .hour {
    font-size: 4rem;
  }

  /* .footer {
    flex-direction: column;
    align-items: start;
  } */

  .sign-up .container {
    padding: 40px 60px;
  }

  .sign-up .container h1 {
    font-size: 2rem;
  }

  .sign-up .container .btn {
    font-size: 1.8rem;
    width: 200px;
  }

  .sign-up {
    padding: 0 10px;
  }

  .footer .copy {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 550px) {
  .invitation p {
    font-size: 1.8rem;
    line-height: 25px;
  }

  .about-me .container .btn {
    font-size: 1.8rem;
  }

  .about-me .info p {
    font-size: 2rem;
  }
  

  .about-me h1 {
    font-size: 4.2rem;
  }

  .footer {
    flex-direction: column;
    align-items: start;
  }

  .footer .social {
    margin-bottom: 57px;
    gap: 20px;
  }

  .footer .nav-footer ul li {
    margin-bottom: 20px;
  }

  .footer .logo-footer {
    max-width: 194px;
    margin-bottom: 50px;
  }
}

@media (max-width: 450px) {
  .home-page .info .btn {
    font-size: 1.6rem;
  }

  .sign-up .container h1 {
    font-size: 1.8rem;
  }

  .sign-up .container .btn {
    font-size: 1.4rem;
    width: 180px;
  }

  .about-event {
    min-height: 140vh;
  }

  .about-event .container .title {
    font-size: 4.5rem;
  }

  .about-me .container .btn {
    font-size: 1.6rem;
  }
}
