@media (max-width: 1200px) {
  .about-me .container .btn {
    font-size: 2rem;
  }
}

@media (max-width: 1070px) {
  .verse h3 {
    font-size: 2.5rem;
  }
  .about-me .container .btn {
    font-size: 1.8rem;
  }
}

@media (max-width: 900px) {
  .verse h3 {
    font-size: 2rem;
  }
}

@media (max-width: 1180px) {
  .bg-nav .menu .navegation {
    gap: 40px;
  }

  .home-page .info {
    width: 50%;
  }

  .home-page .info .btn {
    padding: 22px 68px;
    font-size: 1.8rem;
    border-radius: 15px;
  }

  .about-me .container {
    gap: 5rem;
  }

  .about-me .info p {
    margin-bottom: 35px;
    font-size: 2.1rem;
  }
}

@media (max-width: 960px) {
  .about-me .container {
    flex-wrap: wrap;
  }

  .about-me .info {
    text-align: center;
    max-width: 600px;
    order: 1;
    margin: 0 auto;
  }

  /* .about-me {
    background: url(../imagens/fundo-sobre-nos.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 100px;
  } */

  .about-me .container .img-adm {
    margin: 0 auto;
    padding: 0 30px;
  }

  .about-me .container .btn {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    width: 100%;
  }

  .footer .logo-footer {
    max-width: 150px;
  }

  .footer .social .instagram:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .phone:before {
    width: 18px;
    height: 18px;
  }

  .footer .social .email:before {
    width: 18px;
    height: 18px;
  }

  .footer .social {
    gap: 16px;
    font-size: 1.4rem;
  }

  .footer .nav-footer ul li {
    margin-bottom: 6px;
    font-size: 1.4rem;
    color: #ffffff;
  }

  .about-event .info-event {
    font-size: 4.5rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 4.5rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 4.5rem;
  }
}

@media (max-width: 862px) {
  .about-event .container .info {
    text-align: center;
  }

  .slider-home {
    width: 100%;
  }

  .home-page .info {
    width: 100%;
    position: absolute;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .bg-nav .menu .logo {
    width: 120px;
  }

  .bg-nav .menu {
    padding: 9px 60px;
  }

  .bg-nav .menu .nav .navegation {
    display: none;
  }

  .bg-nav .menu .nav-mobile .navegation-mobile a {
    font-family: "Oswald";
    font-size: 5rem;
    color: #ffd242;
    margin-bottom: 20px;
  }

  .bg-nav .menu .nav-mobile {
    display: block;
  }

  .sign-up .container {
    top: -110px;
  }

  .bg-nav .menu .nav-mobile .navegation-mobile {
    animation: effect 0.5s alternate;
  }

  @keyframes effect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .bg-nav .menu .nav-mobile .navegation-mobile.selecionado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 33px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 74px);
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(20px);
    margin-top: 19px;
  }

  .home-page {
    padding-top: 76px;
  }

  .home-page .info .btn {
    border: 3px solid #ffffff;
    padding: 22px 68px;
    font-size: 2rem;
  }

  .center {
    width: 30px;
    display: block;
  }

  .center:before,
  .center:after,
  .center div {
    background: #ffd242;
    content: "";
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }

  .center.selecionado:before {
    transform: translateY(8.5px) rotate(135deg);
  }

  .center.selecionado:after {
    transform: translateY(-12px) rotate(-135deg);
  }

  .center.selecionado div {
    transform: scale(0);
  }

  .invitation h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .invitation p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: 1.5px;
  }

  .about-event .info-event {
    flex-direction: column;
    align-items: start;
  }

  .about-event .container .info {
    text-align: start;
  }

  .about-event .info-event .info .date {
    margin-bottom: 0;
  }

  .about-event .info-event .location {
    margin-bottom: 50px;
  }

  .about-event .container .title {
    width: 100%;
    font-size: 6rem;
    text-align: start;
    margin-bottom: 100px;
    text-transform: uppercase;
  }

  .sign-up .container h1 {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }

  .footer {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer .copy {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

@media (max-width: 700px) {
  .sign-up .container h1 {
    font-size: 3.3rem;
  }

  .sign-up .container .btn {
    font-size: 2.3rem;
  }
}

@media (max-width: 650px) {
  .about-me .container .btn {
    font-size: 2rem;
  }

  .about-me h1 {
    font-size: 5rem;
  }

  .about-me .info p {
    font-size: 2rem;
  }

  .info img {
    margin-top: 40px;
  }

  .participants-page .title {
    font-size: 5rem;
  }

  .home-page .info .btn {
    margin-top: 60px;
  }

  .about-event .container .title {
    font-size: 5.3rem;
  }

  .about-event .info-event {
    font-size: 4rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 4rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 4rem;
  }

  .sign-up .container h1 {
    font-size: 2.9rem;
  }

  .sign-up .container .btn {
    font-size: 2rem;
    width: 240px;
  }

  .footer {
    flex-direction: column;
    align-items: start;
    padding: 0 30px 70px 30px;
  }

  .footer .social {
    margin-bottom: 57px;
    gap: 20px;
  }

  .footer .nav-footer ul li {
    margin-bottom: 20px;
  }

  .footer .logo-footer {
    max-width: 194px;
    margin-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .sign-up .container h1 {
    font-size: 2.7rem;
  }

  .sign-up .container .btn {
    font-size: 1.9rem;
    width: 210px;
  }
}

@media (max-width: 620px) {
  .swiper-slide img {
    width: 350px;
    height: 420px;
    object-fit: 100%;
  }
}

@media (max-width: 550px) {
  .bg-nav .menu {
    padding: 9px 35px;
  }

  .invitation p {
    font-size: 1.8rem;
    line-height: 25px;
  }

  .about-me .container .btn {
    font-size: 1.8rem;
  }

  .about-me .info p {
    font-size: 2rem;
  }

  .about-me h1 {
    font-size: 4.5rem;
  }

  .sign-up .container {
    padding: 40px 70px;
  }

  .sign-up .container h1 {
    font-size: 2.5rem;
  }

  .sign-up .container .btn {
    font-size: 1.8rem;
    width: 200px;
  }
}

@media (max-width: 450px) {
  .home-page .info .btn {
    font-size: 1.7rem;
  }

  .invitation h1 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }

  .invitation p {
    font-size: 1.7rem;
    line-height: 25px;
  }

  .sign-up .container {
    padding: 35px 60px;
  }

  .sign-up .container h1 {
    font-size: 2.3rem;
  }

  .sign-up .container .btn {
    font-size: 1.5rem;
    width: 170px;
  }

  .about-me h1 {
    font-size: 4.1rem;
  }

  .about-event .container {
    padding: 0 20px;
  }

  .about-event .container .title {
    font-size: 4.5rem;
  }

  .about-me .container .btn {
    font-size: 1.6rem;
  }

  .about-event .info-event {
    font-size: 3.2rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 3.2rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 3.2rem;
  }

  .text {
    padding: 3px;
    font-size: 5rem;
  }
}

@media (max-width: 414px) {
  .home-page .info .btn {
    font-size: 1.5rem;
  }

  .info img {
    width: 130px;
  }

  .home-page .info .btn {
    color: #ffffff;
    border: 3px solid #ffffff;
    background-color: transparent;
    padding: 22px 40px;
  }

  .about-me .container .btn {
    font-size: 1.5rem;
  }

  .about-me .info p {
    font-size: 1.8rem;
  }

  .about-event .container .title {
    font-size: 4rem;
    margin-bottom: 100px;
  }

  .sign-up .container {
    padding: 35px 45px;
    top: -95px;
  }

  .sign-up .container h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 375px) {
  .sign-up .container {
    padding: 35px 50px;
  }

  .sign-up .container h1 {
    font-size: 2.1rem;
  }

  .about-event .container .title {
    font-size: 4.2rem;
    margin-bottom: 100px;
  }

  .sign-up .container .btn {
    font-size: 1.4rem;
    width: 160px;
  }

  .about-event .info-event {
    font-size: 3rem;
  }

  .about-event .info-event .location:nth-child(1) {
    font-size: 3rem;
  }

  .about-event .info-event .location p:first-child {
    font-size: 3rem;
  }

  .about-me .container .btn {
    font-size: 1.4rem;
  }

  .bg-nav .menu {
    padding: 9px 15px;
  }
}
