/* color: #FAD02C; */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "poppins", sans-serif;
  background-color: black;
}

/* MENU */

.bg-nav .menu .logo {
  width: 140px;
}

.bg-nav {
  background-color: #0a0a0a;
  border-bottom: solid 1px #fad02c;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.bg-nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 11px 100px;
  position: relative;
}

.bg-nav .menu .navegation {
  display: flex;
  gap: 70px;
}

.bg-nav .menu .navegation a {
  color: aliceblue;
}

.bg-nav .menu .navegation a.ativo::after {
  content: "";
  border-bottom: 2px solid #fad02c;
  display: block;
  margin: 0 auto;
  width: 20px;
  transition: 0.5s ease;
}

.bg-nav .menu .navegation a:hover::after {
  content: "";
  border-bottom: 2px solid #fad02c;
  display: block;
  margin: 0 auto;
  animation: effect 0.5s;
}

@keyframes effect {
  from {
    width: 20px;
  }
  to {
    width: 100%;
  }
}

.nav-mobile .container .navegation-mobile .social {
  display: flex;
  gap: 40px;
}

.bg-nav .menu .nav-mobile .navegation-mobile {
  display: none;
}

.bg-nav .menu .nav-mobile .navegation-mobile a {
  text-transform: uppercase;
}

.bg-nav .menu .nav-mobile {
  display: none;
}

.center {
  display: none;
}

/* HOME PAGE */

.home-page {
  display: flex;
  align-items: center;
  height: calc(100vh - 80px);
  max-width: 100%;
  padding-top: 87px;
  position: relative;
}

.slider-home{
  width: 50%;
  position: relative;
  min-height: calc(100vh - 167px);
}

.slider-home img{
  position: absolute;
  width: 100%;
  opacity: 0;
  min-height: calc(100vh - 167px);
  transition: 2500ms;
  object-fit: cover;
}

.slider-home img.selected{
  opacity: 1;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.816));
}

.home-page .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
  color: aliceblue;
  background-color: #0a0a0a;
  min-height: calc(100vh - 167px);
}

.invitation h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.invitation p {
  font-size: 1.8rem;
  line-height: 27px;
}

.info img {
  margin-top: 75px;
  width: 25%;
}

.home-page .info .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 70px;
  background-color: transparent;
  padding: 22px 68px;
  font-size: 2.7rem;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}

.home-page .info .btn:hover {
  border: 1px solid #fad02c;
  color: #fad02c;
}

/* VERSE  */

.verse {
  text-align: center;
  border: 2px solid;
  border-color: #fad02c #0a0a0a #fad02c #0a0a0a;
  padding: 13px 0;
  width: 100%;
  background-color: #ffffff;
}

.verse h3 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  color: #000000;
}

/* SLIDER */

.slider {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.infinite-slider {
  display: inline-flex;
  animation: slider 35s linear infinite;
}

.text {
  padding: 5px;
  font-family: "Bebas Neue", cursive;
  white-space: nowrap;
  font-size: 7rem;
  margin-right: 100px;
}

@keyframes slider {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* ABOUT ME  */

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  max-width: 100%;
  background: url(../imagens/fundo-sobre-nos.png) center center no-repeat;
  background-size: cover;
  color: aliceblue;
}

.about-me h1 {
  margin-bottom: 50px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 6rem;
  text-transform: uppercase;
}

.about-me .container {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.about-me .container .img-adm {
  max-width: 600px;
  min-width: 300px;
  width: 100%;
}

.about-me h1:after {
  content: "";
  display: block;
  border-bottom: 8px solid #fad02c;
  width: 90px;
}

.about-me .info {
  text-align: start;
  max-width: 640px;
  width: 100%;
}

.about-me .info p {
  margin-bottom: 40px;
  font-size: 2.2rem;
  line-height: 40px;
  color: #ffffff;
}

.about-me .container .btn {
  display: block;
  width: 90%;
  text-align: center;
  margin-top: 35px;
  background: #fad02c;
  padding: 15px 0;
  font-weight: 700;
  font-size: 2.5rem;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}

.about-me .btn:hover {
  background-color: #fafe99;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* PARTICIPANTES */

.participants-page {
  background: url(../imagens/dark-plaster-pattern.png) center center no-repeat;
  background-size: cover;
  padding: 240px 0 170px;
}

.participants-page .container {
  display: flex;
  justify-content: center;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 60px;
  position: relative;
}

.participants-page .title {
  position: absolute;
  top: -150px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 5.5rem;
  color: #ffffff;
  text-transform: uppercase;
}

.participants-page .title:after {
  content: "";
  display: block;
  border-bottom: 8px solid #fad02c;
  width: 90px;
}

.participants {
  max-width: 1500px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  justify-content: end !important;
  align-items: center !important;
  color: aliceblue;
}

.participants-page .participants .participant .info {
  position: absolute;
  bottom: 30px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.participant .name {
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  color: #fad02c;
  margin-block-start: 0;
  margin-block-end: 0;
}

.participant .office {
  font-size: 1.5rem;
  color: #ffffff;
  margin-block-start: 0;
  margin-block-end: 0;
}

.swiper-slide img {
  opacity: 80%;
  position: relative;
  display: block;
  width: 260px;
  max-width: 100%;
  height: 360px;
  object-fit: cover;
}

/* EVENT */

.about-event {
  display: flex;
  padding-top: 110px;
  justify-content: center;
  padding: 50px 0 200px;
  background: url(../imagens/bg-event.png) center center no-repeat;
  background-size: cover;
  font-family: "Oswald";
  font-size: 5rem;
  color: #ffffff;
}

.about-event .container {
  max-width: 1300px;
  width: 100%;
  padding: 0 50px;
}

.about-event .container .title {
  width: 100%;
  font-size: 8rem;
  text-align: start;
  margin-bottom: 170px;
  text-transform: uppercase;
}

.about-event .container .title:after {
  content: "";
  border: 5px solid #fad02c;
  display: block;
  width: 100px;
}

.about-event .info-event {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.about-event .info-event .location .unit-1 {
  display: block;
}

.about-event .info-event .location .pais {
  display: block;
  color: #fad02c;
}

.about-event .info-event .location p:first-child {
  font-size: 5rem;
  color: #fad02c;
  margin-bottom: 38px;
}

.about-event .info-event .location:nth-child(1) {
  font-size: 5rem;
  color: #ffffff;
}

.about-event .info-event .info .date {
  margin-bottom: 40px;
  text-align: center;
}

/* .about-event .info-event .info .date span{
  display: block;
} */

/* SING-UP */

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.sign-up .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(177, 177, 177, 0.2);
  backdrop-filter: blur(2.68359px);
  padding: 50px 110px;
  backdrop-filter: blur(3px);
  text-align: center;
  position: relative;
  top: -130px;
}

.sign-up .container h1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 55px;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-up .container .btn {
  width: 300px;
  margin: 0 auto;
  padding: 8px;
  background: linear-gradient(151.74deg, #efbf01 0.67%, #89700e 162.3%);
  border-radius: 10px;
  font-weight: 600;
  font-size: 2.8rem;
  color: #000000;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 20px 70px 20px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.footer .logo-footer {
  max-width: 263px;
  margin-bottom: 80px;
}

.footer .social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.footer .social .instagram,
.phone,
.email {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.footer .social a {
  font-size: 1.7rem;
  color: #ffffff;
}

.footer .social .instagram:before {
  content: "";
  background: url(../imagens/instagram.png) center center no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
}

.footer .social .phone:before {
  content: "";
  background: url(../imagens/phone.png) center center no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
}

.footer .social .email:before {
  content: "";
  background: url(../imagens/email.png) center center no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  display: block;
}

.footer .nav-footer ul li {
  margin-bottom: 10px;
}

.footer .nav-footer ul li a {
  font-size: 1.7rem;
  color: #ffffff;
}

.footer .copy p {
  font-size: 1.2rem;
  margin-top: 90px;
}
